body {
  position: relative;
}
#gallery-wrapper {
  display: grid;
  margin-top: 5%;
  height: 90%;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 18%);
  column-gap: 5%;
  row-gap: 5%;
}
.plant-display {
  display: flex;
  background-image: url("../Assets/Gallery/Box.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
}
.plant-display img {
  width: 60%;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  margin: 5%;
  background: url(../Assets/Gallery/Background.png);
  background-repeat: no-repeat;
  background-size: 85vw 69vh;
}
#plantImg {
  width: 50%;
  border-radius: 2.5%;
}
#stats-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(3, 30%);
}
.upgrade-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-radius: 13px;
  border: 2px solid #544a43;
  background: #edf3a1;
  margin-left: 5%;
  height: 90%;
}
.stat-row {
  width: inherit;
  display: flex;
  align-items: center;
  padding-bottom: 2%;
  color: #544a43;
}
.stat-val {
  width: 55%;
  display: flex;
  justify-content: space-around;
  background-color: #f0f6ed;
  border: 2px solid #544a43;
  border-radius: 13px;
  height: auto;
}
.blur {
  filter: blur(1px);
  pointer-events: none;
}
.hidden {
  pointer-events: none;
  visibility: hidden;
}
.visible {
  visibility: visible;
  pointer-events: all;
}

#popup {
  background-color: #ece1bb;
  border-radius: 30px;
  border: 3px solid #544a43;
  width: 70%;
  height: 55%;
  position: absolute;
  top: 20%;
  left: 11%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#popup h3 {
  align-self: flex-start;
}
#toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn {
  position: absolute;
  left: 85%;
  font-size: 1.7em;
}
#materials-grid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 5%;
}
.material {
  border: 2px solid #544a43;
  background-color: #f0f6ed;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.material p {
  text-align: center;
}
.material img {
  width: 80%;
}
#level-change {
  margin-top: 10%;
  width: 90%;
  border-radius: 13px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f0f6ed;
  border: 2px solid #544a43;
  color: #544a43;
  padding: 2%;
}
.fa-arrow-right {
  align-self: center;
}
#level-up-btn {
  background: #edf3a1;
  border: 2px solid #544a43;
  align-self: flex-end;
  margin: 3%;
  margin-top: 8%;
  padding: 2%;
  border-radius: 10px;
}
