/* Declare fonts & colour scheme  */

html {
  height: 100%;
  font-family: "Irish Grover", system-ui;
  color: #544a43;
}
body {
  background: url("../Assets/Homepage/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 3%;
  padding-top: 2%;
  padding-bottom: 1%;
  margin: 0;
  position: relative;
  height: 100%;
  width: 94%;
  overflow: hidden;
}
.back-btn {
  text-decoration: none;
  color: #544a43;
  display: flex;
  align-items: center;
  margin-top: 8%;
}
.back-btn .fa-arrow-left {
  padding: 5%;
  font-size: 1.8em;
}
