#topbar {
  display: flex;
  justify-content: flex-end;
}
#currency-wrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5%;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  border: 2.5px solid #895b3a;
  background: #f0f6ed;
  margin: 1%;
}
.currency-display img {
  width: 30%;
}
#main {
  background: url(../Assets/Gallery/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 85vw 69vh;
  height: 80%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#items {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  column-gap: 5%;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 8%;
  overflow-y: scroll;
}
.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../Assets/Gallery/MaterialBackground.png");
  background-repeat: no-repeat;
  background-size: 30vw 22vh;
  height: 22vh;
  padding-top: 10%;
}
.shop-item img {
  width: 70%;
  justify-self: flex-start;
}
.shop-item p,
.cost p {
  margin-top: 0;
  text-align: center;
  align-self: center;
}
.cost {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30%;
  width: 90%;
}
.cost img {
  width: 30% !important;
  height: 60%;
}

#popup {
  position: absolute;
  top: 18%;
  left: 7%;
  width: 82%;
  height: 75%;
  border-radius: 30px;
  border: 3px solid #895b3a;
  background: #ece1bb;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hide {
  visibility: hidden;
  pointer-events: none;
}
.show {
  pointer-events: all;
}
#heading {
  display: flex;
  align-items: center;
}
.close-btn {
  font-size: 1.7em;
  position: absolute;
  left: 85%;
}
.question {
  padding: 5%;
  padding-bottom: 2%;
  margin-top: 0;
  text-align: justify;
}
.option {
  border-radius: 13px;
  border: 2px solid #544a43;
  background: #f0f6ed;
  width: 80%;
  font-size: 1.2em;
  padding: 5%;
  margin-bottom: 5%;
  margin-top: 0;
}
