#topbar {
  display: flex;
  justify-content: flex-end;
}
#currency-wrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5%;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  border: 2.5px solid #895b3a;
  background: #f0f6ed;
  margin: 1%;
}
.currency-display img {
  width: 30%;
}
#main {
  background: url(../Assets/Gallery/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 85vw 69vh;
  height: 80%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#items {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(2, 45%); */
  /* column-gap: 5%; */
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 8%;
  overflow-y: scroll;
  height: 80%;
}
.shop-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 22vh;
  padding-top: 10%;
}
.shop-item img {
  width: 40%;
  justify-self: flex-start;
}
.desc-wrapper {
  padding: 0;
  margin: 5%;
}
.cost img {
  width: 30% !important;
  height: 60%;
}
