#main {
  background: url(../Assets/Gallery/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 75%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#currency-wrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5%;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  border: 2.5px solid #895b3a;
  background: #f0f6ed;
  margin: 1%;
}
.currency-display img {
  width: 30%;
}
#levelPlant {
  width: 85%;
}

#right-level-wrapper {
  display: grid;
  position: absolute;
  align-items: center;
  top: 25%;
  width: 30%;
  height: 62%;
  left: 60%;
  grid-template-rows: repeat(5, 20%);
}
#left-level-wrapper {
  display: grid;
  position: absolute;
  align-items: center;
  top: 30%;
  width: 30%;
  height: 62%;
  grid-template-rows: repeat(5, 20%);
  left: 15%;
}
.level-label {
  padding: 5%;
  margin-right: 5%;
  border-radius: 5%;
  height: 45%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20%;
  font-size: 1.5em;
}
.four {
  top: -20%;
  height: 50%;
}
.six {
  top: -20%;
}
.two {
  top: -10%;
}
.three {
  top: -20%;
}
.seven {
  top: 10%;
}
.one {
  top: -25%;
}
#left-level-wrapper .level-label {
  padding-left: 35% !important;
}

/* STORY POPUP */
#popup {
  position: absolute;
  top: 15%;
  left: 7%;
  width: 82%;
  height: 75%;
  border-radius: 30px;
  border: 3px solid #895b3a;
  background: #ece1bb;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#comic {
  width: 90%;
}
#popup p {
  width: 80%;
  text-align: justify;
  margin-bottom: 0;
}
#heading {
  display: flex;
  align-items: center;
}
.close-btn {
  font-size: 1.7em;
  position: absolute;
  left: 85%;
}
.hidden {
  visibility: hidden;
  pointer-events: none;
}
.show {
  pointer-events: all;
}

/* SELECT CHARACTERS */
#char-wrapper {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: space-between;
  height: inherit;
}
#available-char {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8%;
}
.char-square {
  border: 2px solid black;
  width: calc(7vw - 2px);
  height: calc(7vw - 2px);
  margin-right: 4%;
  margin-bottom: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.char-square img,
.square img {
  resize: both;
  width: auto;
  height: inherit;
}
#selected-char {
  display: flex;
  margin-top: 5%;
}
#selected-char .char-square {
  margin-right: 2%;
}
.right {
  position: relative;
  height: inherit;
}
#enter-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 3%;
  background-color: lightgreen;
  border-radius: 5%;
}
#select-char-wrapper {
  display: flex;
  top: 5%;
  bottom: 0;
}
#select-char-wrapper img {
  width: 50%;
  height: auto;
  background-color: aliceblue;
  margin-right: 5%;
}

/* FOR GAME */
#wrapper {
  display: flex;
}
#game {
  padding-top: 2%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(11, auto);
  margin-right: 5%;
}
.square {
  border: 1px solid black;
  width: calc(5vw - 1px);
  height: calc(5vw - 1px);
}
#start-btn {
  padding: 5%;
  background-color: black;
  color: white;
  text-align: center;
}
#start-btn:hover {
  cursor: pointer;
}
.remove-click {
  pointer-events: none;
}
