body {
  display: flex;
  flex-direction: column;
}
#main {
  background: url(../Assets/Gallery/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 85vw 80vh;
  height: 80%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#currency-wrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5%;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  border: 2.5px solid #895b3a;
  background: #f0f6ed;
  margin: 1%;
}
.currency-display img {
  width: 30%;
}
#levelPlant {
  width: 80%;
}
#levels {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(4, 17%);
  column-gap: 28%;
  row-gap: 8%;
  grid-template-columns: repeat(2, 20%);
  height: 60%;
  width: 80%;
  align-self: center;
  left: 22%;
  top: 32%;
}
#plantWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* STORY POPUP */
#popup {
  position: absolute;
  top: 15%;
  left: 7%;
  width: 82%;
  height: 80%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 3px solid #895b3a;
  background: #ece1bb;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 5%;
}
#comic {
  width: 75%;
}
#popup p {
  width: 80%;
  text-align: justify;
  margin-bottom: 0;
}
#heading {
  display: flex;
  align-items: center;
}
.close-btn {
  font-size: 1.7em;
  position: absolute;
  left: 85%;
}
.hidden {
  visibility: hidden;
  pointer-events: none;
}
.show {
  pointer-events: all;
}

/* FOR GAME */
#game-wrapper {
  background-color: #ece1bb;
  border-radius: 30px;
  border: 3px solid #895b3a;
  width: 90%;
  height: 80%;
  display: flex;

  justify-self: center;
  align-self: center;
  padding: 2%;
  position: relative;
}
#character-wrapper {
  display: grid;
  flex-direction: column;
  grid-template-rows: repeat(7, 18%);
  overflow-y: scroll;
  width: 30%;
  margin: 4%;
  margin-right: 0;
}

.char-wrapper {
  background-image: url("../Assets/Homepage/Border.png");
  background-size: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 75%;
  height: 60%;
  display: flex;
  justify-content: center;
  padding: 12%;
}
.char-wrapper img {
  width: 70%;
}
#stat-display {
  position: absolute;
  background-color: #ece1bb;
  border: 2px solid #895b3a;
  border-radius: 13px;
  width: 55%;
  left: 30%;
  height: 11.15%;
  z-index: 2;
  padding: 3%;
  white-space: pre;
  top: 3%;
}
.right-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 96%;
  margin: 4%;
}
#game {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(9, 11.15%);
  border: 2px solid #895b3a;
}
.square,
.game-square {
  background: rgba(125, 178, 133, 0.8);
  border: 1.2px solid #895b3a;
  display: flex;
  justify-content: center;
}
#start-btn {
  border-radius: 10px;
  border: 2px solid #544a43;
  background: #edf3a1;
  width: 30%;
  align-self: flex-end;
  margin: 0;
  margin-top: 2%;
  text-align: center;
  padding: 3%;
}
.remove-click {
  pointer-events: none;
}
.locked {
  background-color: #895b3a;
}
.square img,
.game-square img,
.house {
  width: 75%;
}
.enemy {
  background-color: #edececcc;
}
.show-range {
  background-color: lightgray;
}
.health-bar {
  background-color: #dbe2da;
  width: 13%;
  height: 90%;
  border: 1.5px solid #544a43;
  border-radius: 10px;
  display: flex;
}
.val {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #d56666;
  border-radius: 10px;
  align-self: flex-end;
}
.square div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-wrapper {
  height: 5%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.label-wrapper div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-wrapper div p {
  white-space: nowrap;
  font-size: 0.9em;
}
.val-left {
  background-color: #f0f6ed;
  border: 2px solid #895b3a;
  color: #db7573;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 3%;
}
