#main {
  background: url(../Assets/Gallery/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 85vw 69vh;
  height: 80%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#currency-wrapper {
  display: flex;
  justify-content: space-between;
  height: 8%;
  padding: 5%;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  border: 2.5px solid #895b3a;
  background: #f0f6ed;
  margin: 1%;
}
.currency-display img {
  width: 30%;
}
#levelPlant {
  width: 80%;
}
#levels {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(4, 17%);
  column-gap: 28%;
  row-gap: 8%;
  grid-template-columns: repeat(2, 20%);
  height: 60%;
  width: 80%;
  align-self: center;
  left: 22%;
  top: 32%;
}
#plantWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* STORY POPUP */
#popup {
  position: absolute;
  top: 15%;
  left: 7%;
  width: 82%;
  height: 75%;
  border-radius: 30px;
  border: 3px solid #895b3a;
  background: #ece1bb;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 5%;
}
#comic {
  width: 75%;
}
#popup p {
  width: 80%;
  text-align: justify;
  margin-bottom: 0;
}
#heading {
  display: flex;
  align-items: center;
}
.close-btn {
  font-size: 1.7em;
  position: absolute;
  left: 85%;
}
.hidden {
  visibility: hidden;
  pointer-events: none;
}
.show {
  pointer-events: all;
}

/* FOR GAME */
.game-wrapper {
  position: absolute;
  top: 18%;
  background-color: #ece1bb;
  border-radius: 38px;
  border: 3px solid #895b3a;
  height: 80%;
  width: 90%;
  display: flex;
}
#character-wrapper {
  margin: 5%;
  display: grid;
  flex-direction: column;
  grid-template-rows: repeat(7, 18%);
  row-gap: 2%;
  overflow-y: scroll;
  width: 50%;
}
.char-square {
  background-image: url("../Assets/Homepage/Border.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  width: 70%;
}
.char-wrapper {
  width: 70%;
  position: relative;
}
.char-square img {
  width: 70%;
}
.stat-display {
  width: 100vw;
  z-index: 2;
  position: absolute;
  background-color: #544a43;
  color: #dbe2da;
  left: 80%;
  padding: 4%;
  top: 0;
}
.right-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 94%;
  left: 30%;
  margin: 4%;
}
.game {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(9, 11.15%);
  height: 100%;
  border: 2px solid #895b3a;
}
.square,
.game-square {
  background: rgba(125, 178, 133, 0.8);
  border: 1.2px solid #895b3a;
  display: flex;
  justify-content: center;
}
#start-btn {
  border-radius: 10px;
  border: 2px solid #544a43;
  background: #edf3a1;
  width: 30%;
  align-self: flex-end;
  text-align: center;
  padding: 3%;
}
.remove-click {
  pointer-events: none;
}
.locked {
  background-color: #895b3a;
}
.square img,
.game-square img,
.house {
  width: 75%;
}
.enemy {
  background-color: #edececcc;
}
.enemy-curr {
  background-color: rgba(219, 89, 89, 0.8);
}
#enemy-health,
#home-health {
  position: relative;
  height: 90%;
  width: 10%;
  margin: 2%;
  border-radius: 8px;
  border: 2px solid #544a43;
  margin-top: 0;
  background: #dbe2da;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.game-wrapper-actual {
  margin-top: 2%;
  background-color: #ece1bb;
  border-radius: 38px;
  border: 3px solid #895b3a;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 75%;
  align-self: center;
  display: flex;
  justify-content: center;
  padding-top: 6%;
}
#middle-wrapper {
  width: inherit;
  height: 95%;
  display: flex;
  flex-direction: column;
}
#enemy-health .val {
  background: #d56666;
}
#home-health .val {
  background: #6bc685;
}
.val {
  z-index: 1;
  height: 30%;
}
#end-btn {
  border-radius: 13px;
  border: 2px solid #544a43;
  background: #ec9492;
  padding: 1%;
  text-align: center;
  width: 30%;
  align-self: flex-end;
}
