#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  margin: 5%;
  background: url(../Assets/Gallery/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 85vw 70vh;
  pointer-events: all;
}
.mission-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f6ed;
  border: 2px solid #895b3a;
  width: 80%;
  border-radius: 13px;
  margin-top: 8%;
  color: #544a43;
  padding: 4%;
}
.mission {
  height: 4%;
}
.reward {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}
.reward img {
  width: 50%;
}
.mission-row p {
  font-size: 1.5em;
}
.heading-row {
  display: flex;
  width: 90%;
  column-gap: 5%;
}
.heading-row .mission-row {
  border: 2.5px solid #544a43;
  font-size: 1.3em;
}
.overlay {
  pointer-events: none;
  filter: blur(1px);
}
#popup {
  position: absolute;
  top: 16.5%;
  left: 14%;
  width: 70%;
  height: 70%;
  border-radius: 30px;
  border: 3px solid #544a43;
  background: #ece1bb;
  display: flex;
  align-items: center;
  flex-direction: column;
}
video,
#output {
  width: 80%;
}
#start-button {
  border-radius: 12px;
  border: 2.5px solid #544a43;
  background: #f0f6ed;
  width: 30%;
  text-align: center;
  padding: 1%;
  margin: 10%;
}
#next-button {
  border-radius: 12px;
  border: 2.5px solid #544a43;
  background: lightgreen;
  width: 30%;
  text-align: center;
  padding: 1%;
}
#toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.close-btn {
  position: absolute;
  left: 85%;
  font-size: 1.7em;
}
.hidden {
  pointer-events: none;
  visibility: hidden;
}
.untoggled {
  background-color: #c8cbc6;
}
