#topbar {
  display: flex;
  justify-content: flex-end;
}
#user-div {
  position: absolute;
  width: 25%;
  left: 5%;
}
#user-div h2 {
  text-decoration: none;
  color: #544a43;
  position: absolute;
  left: 5%;
  margin-top: 0;
}
#user-pic {
  background-image: url("./Assets/Homepage/Border.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 24vw 14svh;
}
#main {
  display: flex;
  justify-content: center;
}
#pic {
  align-self: flex-end;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #895b3a;
  background-color: #f0f6ed;
  width: 25%;
  margin-left: 5%;
  border-radius: 16px;
}
.currency-display img {
  width: 25%;
  padding-right: 2%;
}
.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  text-decoration: none;
  border: #895b3a;
  background-image: url("./Assets/Homepage/Border.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#nav-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 18%);
  width: 94%;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
}
