#topbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4%;
}
#user-div {
  position: absolute;
  width: 25%;
  left: 5%;
}
#user-div h2 {
  text-decoration: none;
  color: #544a43;
  position: absolute;
  left: 5%;
  margin-top: 0;
}
#user-pic {
  width: 100%;
  background-size: 24vw 14svh;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 70%;
}
#pic {
  align-self: flex-end;
  height: 85%;
}
#spin-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3%;
  margin: 3%;
  background-color: #ece1bb;
  border: 2px solid #544a43;
  border-radius: 10px;
  text-decoration: none;
  color: #544a43;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #895b3a;
  background-color: #f0f6ed;
  width: 25%;
  margin-left: 5%;
  border-radius: 16px;
}
.currency-display img {
  width: 25%;
  padding-right: 2%;
}
.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  text-decoration: none;
  border: #895b3a;
}
#nav-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 18%);
  width: 94%;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
}

#circle {
  width: 90vw;
  height: 90vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s;
}
#spin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
}
.number {
  position: absolute;
  width: 65vw;
  height: 65vw;
  border-radius: 50%;
  transform-origin: center;
  clip-path: polygon(100% 0, 50% 50%, 0 0);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15%;
}
#dot {
  width: 18vw;
  height: 18vw;
  background-color: #ece1bb;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #544a43;
}
#line {
  height: 5vh;
  width: 1.5vw;
  background-color: #544a43;
  position: relative;
  top: 3vh;
  z-index: 2;
}
