body {
  position: relative;
  overflow: hidden;
}
#topbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4%;
}
#user-div {
  position: absolute;
  width: 25%;
  left: 5%;
}
#user-div h2 {
  text-decoration: none;
  color: #544a43;
  position: absolute;
  left: 5%;
  margin-top: 0;
}
#user-pic {
  width: 100%;
  background-size: 24vw 14svh;
}
#main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 70%;
}
#pic {
  align-self: flex-end;
  height: 85%;
}
#spin-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3%;
  border-radius: 10px;
  text-decoration: none;
  color: #544a43;
  width: 20%;
  height: 20%;
}
#spin-btn img {
  width: 100%;
}
.currency-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #895b3a;
  background-color: #f0f6ed;
  width: 25%;
  margin-left: 5%;
  border-radius: 16px;
}
.currency-display img {
  width: 25%;
  padding-right: 2%;
}
.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  text-decoration: none;
  border: #895b3a;
}
#nav-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 18%);
  width: 94%;
  justify-content: space-around;
  position: absolute;
  bottom: 5%;
}

#circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s;
}
#spin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 60%;
  flex-direction: column;
}
.quadrant {
  width: 35vw;
  height: 35vw;
  border-style: solid;
  border-color: #895b3a;
  background-color: #f0f6ed;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.quadrant img {
  width: 40%;
}
.top-left {
  border-top-left-radius: 100%;
  border-width: 4px 2px 2px 4px;
}

.top-right {
  border-top-right-radius: 100%;
  border-width: 4px 4px 2px 2px;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  border-width: 2px 2px 4px 4px;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  border-width: 2px 4px 4px 2px;
}

#dot {
  width: 18vw;
  height: 18vw;
  background-color: #ece1bb;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #544a43;
}
#line {
  height: 5vh;
  width: 1.5vw;
  background-color: #9c8b7f;
  position: relative;
  top: 3vh;
  z-index: 2;
}

#popup {
  z-index: 2;
}
.hide {
  visibility: hidden;
  pointer-events: none;
}
.show {
  pointer-events: all;
}
.heading {
  display: flex;
  justify-content: center;
  padding: 4%;
}
.close-btn {
  font-size: 1.7em;
  position: absolute;
  left: 85%;
}
.question {
  padding: 3%;
  margin-top: 0;
}
.option {
  border-radius: 13px;
  border: 2px solid #544a43;
  background: #f0f6ed;
  width: 80%;
  font-size: 1.2em;
  padding: 5%;
  margin-bottom: 5%;
  margin-top: 0;
}

.popup {
  position: absolute;
  top: 2%;
  left: 8%;
  width: 83%;
  height: 95%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../Assets/Gallery/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#quizPopup {
  z-index: 3;
}
.heading img {
  width: 20%;
}
.title {
  display: flex;
  justify-content: center;
}
